[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


.search-bar{
  margin-top: 40px;
  width: 100%;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}


.movie-img{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.no-results-title{
    width: 100%;
}